Source: com.github.marbetschar.timer
Section: x11
Priority: optional
Maintainer: Marco Betschart <elementary-timer@marco.betschart.name>
Build-Depends: cmake (>= 2.8),
               debhelper (>= 9),
               libgtk-3-dev,
               valac (>= 0.40.0)
Standards-Version: 3.9.3

Package: name.betschart.marco.timer
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Timer
 A simple and beautiful timer app for elementary OS
